.back_container{
  width:60%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: -48px;
  .bubbles{
    display: flex;
    span{
      position: relative;
      width: 30px;
      height: 30px;
      background: #4fc3dc;
      margin: 0 4px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #4fc3dc44,
      0 0 50px #4fc3dc,
      0 0 100px #4fc3dc;
      animation: flow 15s linear infinite;
      animation-duration: calc(130s / var(--id));
    }
    span:nth-child(even){
      background: #ffe550;
      box-shadow: 0 0 0 10px #ffe55044,
      0 0 50px #ffe550,
      0 0 100px #ffe550;
    }
  }
  
}

@keyframes flow {
  0%{
    transform: translateY(100vh) scale(0);
  }
  100%{
    transform: translateY(-10vh) scale(0.6);    
  }
}